.editButton {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

.header {
  color: #fff;
  margin-bottom: 2rem;
}

.formEdit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 1.1rem;
  padding: 2rem 0 .5rem 0;
  margin: 0 auto;
  max-width: 450px;
}

.formEdit input[type="text"] {
  padding: 5px;
  font-size: 1.2rem;
}

.profileFirstName {
  grid-column: 1;
}

.profileLastName {
  grid-column: 2;
}

button.profileSave {
  grid-column: 1;
  grid-row: 2;
  width: min-content;
  justify-self: end;
}

button.profileCancel {
  grid-row: 2;
  grid-column: 2;
  width: min-content;
}