.alert {
  margin: 20px 0;
  padding: 15px 8px;
  border-radius: 2px;
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.error {
  background: #BA181B;
  color: #FFF;
}

.success {
  background: #059928;
  color: #FFF;
}